// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

#ciyf-app {
  &.sign-in .app-container {
    background-image: url('/bg.jpg');
    background-position: top
    background-size: cover
  }

  .layout, .container {
    transition: all .5s cubic-bezier(.55,0,.1,1)
  }

  .page-enter-active, .page-leave-active {
    transition: all .5s
  }
  .page-enter, .page-leave-active {
    transform: translateY(-10px)
    opacity: 0
  }
  .card .toolbar {
    background-color: #a48453
    color: white
  }
  @media only screen and (min-width: 600px) {
    .main-card {
      margin: 1em
      min-width: 400px
      width: 70%
    }
    .card.half {
      width: 48%
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 950px) {
    .main-card {
      width: 100%
    }
  }
  @media only screen and (max-width: 599px) {
    .card.half {
      margin: 0 0 1em;
      width: 100%;
    }

    .main-card {
      width: 100%
    }

    .app-container {
      padding: 24px 14px 35px !important
    }

    .summary {
      .subheader {
        padding: 0 16px !important;
      }
    }

    .summary__frequency {
      .list__tile {
        padding: 0
      }

      .chip__content {
        background: white
        padding: 0 6px
        position: relative
      }
    }

    .order-tile {
      .list__tile {
        padding-right: 0
      }
    }
  }
}
