// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

// .page
//   @extend .fade-transition

.layout, .container {
  transition: all .5s cubic-bezier(.55,0,.1,1)
}

.page-enter-active, .page-leave-active {
  transition: all .5s
}
.page-enter, .page-leave-active {
  transform: translateY(-10px)
  opacity: 0
}
