// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.layout, .container {
  transition: all .5s cubic-bezier(.55,0,.1,1)
}

.page-enter-active, .page-leave-active {
  transition: all .5s
}
.page-enter, .page-leave-active {
  transform: translateY(-10px)
  opacity: 0
}

@media only screen and (min-width: 800px) {
  .main-card {
    margin: 1em
    min-width: 400px
    width: 60%
  }
  .card.half {
    width: auto;
  }
}

.card.half {
  margin: 1em;
}

@media only screen and (max-width: 599px) {
  .main-card {
    width: 100%
  }

  .container {
    padding: 24px 14px 35px
  }

  .summary {
    .subheader {
      padding: 0 16px !important;
    }
  }

  .summary__frequency {
    .list__tile {
      padding: 0
    }

    .chip__content {
      background: white
      padding: 0 6px
      position: relative
    }
  }

  .order-tile {
    .list__tile {
      padding-right: 0
    }
  }
}
